body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
  }
 
h2 {
    text-align: center;
    color: rgb(8, 85, 229);
}

p, label {
  font-size: 18px;
  font-weight: bold;
  color: rgb(133, 157, 203);

  /* select {
    font-size: 18px;
    font-weight: bold;
  } */
}


.container-sm {
  margin: auto;
  display: block;
  text-align: center;
} 

.container-sm img {
  width: 450px;
  height: 350px;
}

.col-sm-6 {
    min-width: none;
    width: 550px;
    /* height: 450px; */
    margin-top: 25px;
} 

.col-sm-6 img {
    width: 350px;
    height: 250px;
}

.navbar-nav {
  background-color: cornflowerblue;
  padding: 10px;
  margin: auto;
  width: 100%;
}


.navbar-nav .nav-item {
  display: inline;
  /* margin-left: 25px; */
  margin: auto;
  /* color: rgb(245, 4, 4); */
  font-size: 1.75em;
} 

.navbar-nav .nav-link {
  color: pink;
  text-decoration: none;
  transition: 0.3s ease-in-out !important;
}

.navbar-nav .nav-link:hover {
  color: red;
  text-decoration: none;
  transition: 0.3s ease-in-out !important;
}

button {
  color:#791ecf;
  background-color: rgb(121, 30, 207);
  /* background-color: lightblue; */
  font-weight: bold;
  margin: auto;
  width: 200px;
}

.btn, .btn-primary {
  width: 100px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  margin: auto;
}

.form-b {
  /* width: 550px; */
  margin: auto;
}

footer {
  height: 20px;
  /* margin-bottom: -25px;
  margin-left: 50px; */
  margin-top: 25px;
}