h1 {
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
  }
 
h2 {
    text-align: center;
    color: cornflowerblue;
  }

.container-sm {
  margin: auto;
  display: block;
  text-align: center;

} 

.container-sm img {
  width: 450px;
  height: 350px;
}

.row {
  margin: auto;
  display: block;  
}

.col-sm-6 {
    width: 550px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.col-sm-6 img {
    width: 350px;
    height: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    /* display: block; */
    /* border: 2px; */
}

button {
  color:blueviolet;
  background-color: lightblue;
  font-weight: bold;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-a {
  margin-left: 50px;
  margin-top: 15px;
}

.form-b {
  width: 550px;
}

footer {
  height: 20px;
  margin-bottom: -25px;
  margin-left: 50px;
  margin-top: 25px;
}